@import "./colors.css";

html {
  height: 100%;
  background-color: var(--color-grey-800);
}

body {
  padding: 1rem;
  height: 100%;
  width: 600px;
  background-color: var(--color-white);
  margin: 0 auto;
}
/* 
body > div {
  width: 600px;
  height: 100%;
} */